@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none !important;
}

html, body {
    margin: 0 0 1rem;
}

.dataTableBody {
    max-height: calc(100vh - 200px);
    height: calc(100vh - 200px);
}
